* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */

  font-family: "JetBrains Mono Nerd Font", Inconsolata, monospace;
  font-size: 14px;
  font-weight: 600;

  /* font-family: "Inter", system-ui, sans-serif; */
  /* font-size: 14px; */
  /* font-weight: 500; */
}

window#waybar {
  background: rgba(0, 0, 0, 0.7);
  /*  border-bottom: 1.5px solid rgba(100, 114, 125, 0.5); */
  border-bottom: 1.5px solid rgba(105, 105, 105, 0.75);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.33s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.spotify {
  background: rgba(0, 0, 0, 0.5);
}

window#waybar.chromium {
  background: rgba(0, 0, 0, 0.5);
  border: none;
}
*/

#workspaces button {
  padding-left: 0.7em;
  padding-right: 1.1em;
  padding-top: 2px;
  padding-bottom: 3px;
  background-color: transparent;
  color: #ffffff;
  /* border-bottom: 1.5px solid transparent; */
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.2);
  border-right: 1.5px solid rgba(255, 255, 255, 0.25);
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.75);
}

#workspaces button.focused {
  background: rgba(90, 255, 20, 0.25);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.9);
}

#workspaces button.visible:not(.focused) {
  /* color: #ffffff; */
  /* background: rgba(180, 180, 255, 0.3); */
  background: rgba(60, 100, 255, 0.25);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.75);
}

#workspaces button.urgent {
  background-color: rgba(255, 80, 80, 0.7);
}

#mode {
  background-color: rgba(90, 105, 115, 0.6);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.8);
}

#clock,
#battery,
#cpu,
#custom-cpufreq,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  border-bottom-width: 1.5px;
  padding-left: 0.85em;
  padding-right: 0.85em;
  padding-top: 2px;
  padding-bottom: 3px;
  margin: 0 0;
  color: #ffffff;
}

#cpu {
  padding-right: 1.45em;
  background-color: rgba(160, 255, 20, 0.2);
  color: white;
}

#clock {
  /* background-color: #64727D; */
  background-color: rgba(84, 96, 105, 0.4);
}

#battery {
  background-color: #ffffff;
  color: #000000;
}

#battery.charging {
  color: #ffffff;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#memory {
  /* background-color: #9b59b6; */
  background-color: rgba(200, 50, 255, 0.25);
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  /* background-color: #7a662a; */
  background-color: rgba(190, 160, 15, 0.33);
  /* background-color: #a47400; */
  /* background-color: #f1c40f; */
  /* background-color: #f8cf1f; */
  color: #ffffff;
  padding-right: 1em;
}

#pulseaudio.muted {
  /* background-color: #90b1b1; */
  background-color: rgba(170, 220, 220, 0.33);
  /* color: #2a5c45; */
  color: white;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 5em;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#custom-cpufreq {
  color: #ffffff;
  background-color: rgba(250, 230, 25, 0.3);
}

#temperature {
  color: #ffffff;
  /* background-color: #f0932b; */
  background-color: rgba(255, 150, 25, 0.3);
}

#temperature.critical {
  background-color: rgba(255, 90, 90, 0.6);
}

#tray {
  background-color: rgba(70, 150, 255, 0.6);
}

#idle_inhibitor {
  background-color: rgba(100, 180, 255, 0.35);
  color: white;
  padding-left: 0.85em;
  padding-right: 1.15em;
}

#idle_inhibitor.activated {
  background-color: rgba(255, 90, 90, 0.7);
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}
