[submodule "modules/common/programs/firefox/neptune"]
	path = modules/common/programs/firefox/neptune
	url = git@github.com:yiiyahui/Neptune-Firefox.git
[submodule "modules/common/programs/firefox/scifox"]
	path = modules/common/programs/firefox/scifox
	url = git@github.com:scientiac/scifox.git
[submodule "modules/common/programs/firefox/one-fox"]
	path = modules/common/programs/firefox/one-fox
	url = git@github.com:Perseus333/One-Fox.git
[submodule "modules/common/programs/firefox/stealthfox"]
	path = modules/common/programs/firefox/stealthfox
	url = git@github.com:jeffwkm/stealthFox.git
