.DS_Store
.idea
*.log
*.tmp
tmp
result
node_modules
/.clj-kondo/
.lsp
*.elc
*.eln
flycheck_config.el
flycheck_init.el

/bin/do-ssh*
chromium_dev_keys.sh
**/doom.d/custom.el
**/neovim/config/data
**/nvim/data
**/wallpapers/*
