.DS_Store
.idea
*.log
tmp/
/result

/scripts/do-ssh*
/dotfiles/chromium_dev_keys.sh
/nixos/result
/home/emacs/doom.d/flycheck_config.el
flycheck_init.el
/.clj-kondo/
/.lsp/
/home/emacs/doom.d/custom.el
