:root {
  --white-rgb: rgb(255, 255, 255);
  --white: 255 255 255;
  --text-rgb: rgb(255, 255, 255);
  --text: 255 255 255;
  --primary-rgb: rgb(40, 70, 255);
  --primary: 40 70 255;
  --active-rgb: rgb(110, 255, 70);
  --active: 130 255 70;
  --success-rgb: rgb(40, 255, 40);
  --success: 40 255 40;
  --warning-rgb: rgb(255, 190, 60);
  --warning: 255 190 60;
  --error-rgb: rgb(255, 90, 90);
  --error: 255 90 90;

  --dark-rgb: rgb(20, 20, 20);
  --dark: 50 50 50;

  --status-entry-border-color: black(0.9);
  --status-entry-border: 1px solid var(--status-entry-border-color);
  --status-entry-internal-border-color: black(0.55);
  --status-entry-internal-border: 1px solid var(--status-entry-internal-border-color);
  --status-entry-background: rgb(var(--dark) / 0.8);
  --status-entry-padding: 0 4px;

  --status-entry {
    border-radius: 9999px;
    border: var(--status-entry-border);
    background: var(--status-entry-background);
    padding: 1px 0;
    > * {
      padding: var(--status-entry-padding);
    }
    > *:not(:last-child) {
      border-right: var(--status-entry-internal-border);
    }
  }

  --sans {
    font-family: "Symbols Nerd Font Mono", "Inter", sans;
  }
  --mono {
    font-family: "Symbols Nerd Font Mono", "JetBrains Mono", monospace;
  }
}

.icon {
  font-size: 14px;
  -gtk-icon-palette:
    success rgb(var(--success) / 0.8),
    warning rgb(var(--warning) / 0.8),
    error rgb(var(--error) / 0.8);
}

.icon-material {
  font-family: "Material Symbols Sharp", "Material Symbols Rounded", "Material Symbols Outlined";
  font-size: 18px;
  margin: -1px;
  font-weight: 700;
}

.bar {
  @apply --sans;
  background: transparent;
  color: white(0.8);
  font-size: 12px;
  font-weight: 600;
  .bar-left {
    > * {
      margin-right: 6px;
    }
    > *:last-child {
      margin-right: 6px;
    }
  }
  .bar-center {
    & > * {
      margin: 0 6px;
    }
  }
  .bar-right {
    > * {
      margin-left: 6px;
    }
    > *:first-child {
      margin-left: 0px;
    }
  }
}

.outer {
  padding: 4px;
  border-bottom: 2px solid rgba(127, 128, 129, 0.51);
  /* background: rgba(86, 86, 86, 0.65); */
  background: hwb(200 42% 55% / 0.6);
  &:not(.active) {
  }
}

button {
  min-height: 0;
  min-width: 0;
  border-radius: 0;
  background: rgb(var(--dark) / 0.6);
  font-weight: 700;
  color: white(0.925);

  &:hover {
    background: rgb(var(--dark) / 0.3);
  }
  &:active {
    background: rgb(var(--dark) / 0.15);
  }
}

.circular {
  font-size: 4.5px;
  min-width: 15px;
  min-height: 15px;
}

.workspaces {
  /* margin: 1px 0; */
  > * {
    margin-right: 6px;
  }
  > *:last-child {
    margin-right: 0px;
  }
}

.workspaces-group {
  border-radius: 9999px;
  background: var(--status-entry-background);

  button {
    @apply --mono;
    padding: 0 2px;
    min-width: 2.2em;
    background: transparent;
    border: var(--status-entry-border);
    border-left: var(--status-entry-internal-border);
    border-right: var(--status-entry-internal-border);
    &.first {
      border-left: var(--status-entry-border);
      border-top-left-radius: 9999px;
      border-bottom-left-radius: 9999px;
      padding: 0;
      padding-left: 3px;
    }
    &.last {
      border-right: var(--status-entry-border);
      border-top-right-radius: 9999px;
      border-bottom-right-radius: 9999px;
      padding: 0;
      padding-right: 3px;
    }
    &.focused {
      border-color: transparent;
      background: rgb(var(--primary) / 0.5);
      .outer.active & {
        background: rgb(var(--primary) / 0.85);
      }
    }
  }
}

.notification {
  color: rgba(255, 220, 60, 0.9);
}

.client-title {
  margin-right: 6em;
  font-size: 12px;
  & > label {
    padding: 0 10px;
    background: var(--status-entry-background);
    border: var(--status-entry-border);
    border-radius: 9999px;
    min-width: 2em;
  }
}

.datetime {
  @apply --status-entry;
  padding-left: 1px;
  padding-right: 1px;
}

.systray {
  @apply --status-entry;
  background: transparent;
  button {
    border-radius: 9999px;
    padding: 2px 6px;
    margin: -2px;

    .icon {
      font-size: 16px;
    }
  }
}

menu {
  @apply --sans;
  padding: 2px;
  background: rgba(30, 30, 30, 0.875);
  border: 2px solid rgba(0, 0, 0, 1);
  font-size: 13px;
  color: #d8d8d8;
  button,
  label {
    font-weight: 600;
  }
  button,
  item {
    padding: 6px;
    margin: 0;
  }
}


.battery {
  @apply --status-entry;
}

.volume {
  @apply --status-entry;

  .status {
    > box {
      margin-top: -1px;
      .circular {
        color: rgba(40, 70, 255, 0.85);
      }
    }
  }
}

.cputemp {
  @apply --status-entry;

  label {
    @apply --mono;
    font-size: 12px;
    font-weight: 700;
  }
  &.critical .icon {
    color: rgb(var(--error) / 0.8);
  }
  &.high .icon {
    color: rgb(var(--warning) / 0.8);
  }
  &.medium .icon {
    color: rgba(255, 220, 100, 0.8);
  }
  &.low .icon {
    color: rgba(230, 255, 100, 0.8);
  }
}

.media-event-box {
  .media {
    @apply --status-entry;
    .icon.player {
      font-size: 15px;
    }
    .icon.status {
      &.paused {
        color: #c8c8c8;
      }
    }
  }
  &:hover {
    background: white(0.05);
  }
}

.tasks {
  @apply --status-entry;
  label.task {
    font-size: 13px;
    padding-right: 7px;
  }
}
