max-visible=6
sort=-time
layer=overlay
anchor=top-right
font=JetBrainsMono Nerd Font Semibold 18
background-color=#666666D0
text-color=#F0F0F0FF
width=500
height=400
margin=10
padding=12
border-size=6
border-color=#FFFFFFB8
border-radius=6
progress-color=source #48B810D0
icons=1
max-icon-size=40
markup=1
actions=1
format=<b>%s</b>\n%b
default-timeout=2000
icon-path=/etc/profiles/per-user/jeff/share/icons/Arc/status/128
ignore-timeout=0
# group-by=app-name

[app-name=sway]
max-icon-size=64
format=%b
width=425
height=200
font=JetBrainsMono Nerd Font Semibold 16
padding=12
default-timeout=2000

[app-name=sway body~=.*.*]
background-color=#48B810D0

[app-name=sway body~=.*.*]
background-color=#E04010D0
default-timeout=3000

# [urgency=low]
# background-color=#2080E8D0

# [urgency=critical]
# background-color=#E04010D0
# default-timeout=3000
