:root {
  --bar-bg: oklch(0.185 0.045 283.91 / 0.8);
  --bar-border: oklch(from var(--bar-bg) calc(l * 1.5) calc(c * 1.5) h / 0.4);

  --text: oklch(0.85 0.04 272.86 / 0.975);

  --blue0: oklch(0.7497 0.11 263.81);
  --blue: oklch(0.65 0.11 260);
  --green: oklch(0.72 0.18 132);
  --orange: oklch(0.77 0.15 80);
  --orange-text: oklch(0.82 0.4 80);

  --border-color: oklch(from var(--bar-bg) 0.5 0.1 h / 0.625);
  --section-bg: oklch(from var(--border-color) l c h / 0.1);
  --section-border: oklch(from var(--border-color) calc(l * 1.5) c h / 0.775);

  --section-spacing: 3.5px;
}

window.Bar {
  font-family: "sans";
  font-weight: 700;
  font-size: 12px;

  margin: 0;
  padding: 0;

  color: var(--text);
  background: var(--bar-bg);

  &.Top {
    border-bottom: 1.66px solid oklch(from var(--section-border) l c h / 0.2);
  }
  &.Bottom {
    border-top: 2px solid oklch(from var(--section-border) l c h / 0.2);

    centerbox.pomodoro {
      border-top: 2px solid var(--green);
    }

    centerbox.short-break,
    centerbox.long-break {
      border-top: 2px solid var(--orange);
    }
  }
}

icon,
.icon {
  color: oklch(from var(--text) l c h / 0.925);
}

icon {
  font-size: 15px;
}

.icon {
  font-size: 16px;
  margin: -1px;
}

.icon.icon-material {
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.icon.icon-material {
  font-family: "Material Symbols Sharp", "Material Symbols Rounded", "Material Symbols Outlined";
  font-family: "Material Symbols Outlined", "Material Symbols Sharp", "Material Symbols Rounded";
  font-size: 18px;
  margin: -2px 4px;
  font-weight: 600;
}

.monospace,
.section.monospace {
  font-family: "monospace";
  font-size: 10.5px;
  font-weight: 800;
  color: oklch(from var(--text) l c h / 1);
}

.section {
  padding: 1px 2px;
  background: oklch(from var(--border-color) calc(l * 1.5) c h / 0.15);

  .Bar.Top & {
    border-bottom: 1.66px solid var(--section-border);
  }
  .Bar.Bottom & {
    border-top: 1.66px solid var(--section-border);
  }

  .Bar > centerbox > .Left & {
    margin-right: calc(2 * var(--section-spacing));
  }
  .Bar > centerbox > .Right & {
    margin-left: calc(2 * var(--section-spacing));
  }
  .Bar > centerbox > .Center & {
    margin: 0px var(--section-spacing);
  }

  > * {
    margin-left: 2px;
    margin-right: 2px;
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }

  .unit_label {
    margin-left: 1px;
    font-size: 10px;
  }

  &.Tray {
    .TrayItem {
      padding: 0px;
      border: 0px;
      border-radius: 9999px;
      min-height: 16px;

      icon {
        padding: 0px;
        margin: -1px;
        font-size: 15px;
        border-radius: 9999px;
      }
    }
  }

  &.Media {
    .PlaybackStatus {
      &.playing {
        color: var(--green);
      }
      &.paused,
      &.stopped {
        color: oklch(from var(--text) calc(l * 0.85) c h);
      }
    }
    .PlayerIcon {
      margin-right: 8px;
    }
  }
}

.section.WorkspaceGroup {
  padding: 1px 2px;

  .Workspace {
    font-family: "monospace";
    font-weight: 800;
    font-size: 12px;
    margin: 0;
    padding: 0 4px;

    &.active {
      color: oklch(0.92 0.14 118);
      &.focused {
        color: oklch(0.92 0.2 138);
      }
    }
  }
}

.section.ActiveTitle {
  > :first-child {
    margin-right: 0;
  }
  > label.title {
    padding: 0px 4px;
  }
}

.ProgressBox {
  font-size: 2px;
  border: 0.5px solid var(--text);
  border-radius: 9999px;
  margin: 0 2px;

  .Bar.Top & {
    margin-top: -1px;
    margin-bottom: 1px;
  }
  .Bar.Bottom & {
    margin-top: 1px;
    margin-bottom: -1px;
  }

  circularprogress {
    min-width: 20px;
  }

  > label {
    margin-left: -20px;
    margin-top: 1px;
    font-size: 10.5px;
    color: oklch(from var(--text) 0.92 calc(c * 0.8) h / 0.975);
    font-weight: 800;
    font-family: "monospace";
  }

  &.VolumeProgress {
    color: oklch(from var(--green) l c h / 0.875);
  }
  &.MemoryProgress {
    color: oklch(from var(--orange) l c h / 0.875);
  }
}

.Command {
  background: black(0.75);
  padding: 0px 4px;
  margin: 0;

  &:first-child {
    margin-left: -2px;
  }
  &:last-child {
    margin-right: -2px;
  }

  > .CommandLabel {
    font-family: "sans";
    font-size: 12px;
    font-weight: 700;
    color: white(0.925);
    border-right: 1px solid white(0.425);
    padding: 0 4px;
    margin: 0;
    border-top: 1px solid var(--text);
    centerbox:not(.none) & {
      margin-top: -1px;
      padding-top: 2px;
    }
  }
  > .CommandText {
    font-family: "monospace";
    font-size: 10.5px;
    font-weight: 800;
    color: oklch(0.75 0.5 280 / 0.9);
    padding: 0 4px;
    padding-top: 1px;
    margin-bottom: -1px;
    border-top: 1px solid var(--text);
    centerbox:not(.none) & {
      margin-top: -1px;
      padding-top: 2px;
    }
  }
}

.Command.PreviousTask {
  > .CommandText {
    font-family: "sans";
    font-size: 12px;
    color: var(--orange-text);
  }
}

.Command.Timer {
  > .CommandLabel {
    color: var(--orange-text);
  }
  > .CommandText {
    font-size: 12px;
    font-weight: 800;
    color: oklch(from var(--green) calc(l * 1.16) calc(c * 1.2) h / 1);
  }
}
