/* https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss */

:root {
  --bar-bg: oklch(0.185 0.045 283.91 / 0.8);
  --bar-border: oklch(from var(--bar-bg) calc(l * 1.5) calc(c * 1.5) h / 0.4);

  --text: oklch(0.8168 0.04 272.86 / 0.98);
  --blue0: oklch(0.7497 0.11 263.81);
  --blue: oklch(0.65 0.11 260);
  --green: oklch(0.72 0.18 132);

  --border-color: oklch(from var(--bar-bg) 0.5 0.1 h / 0.625);
  --section-bg: oklch(from var(--border-color) l c h / 0.1);

  --section-spacing: 3px;
}

.icon-material {
  font-family: "Material Symbols Sharp", "Material Symbols Rounded", "Material Symbols Outlined";
  font-family: "Material Symbols Outlined", "Material Symbols Sharp", "Material Symbols Rounded";
  font-size: 17px;
  margin: -1px 0;
  font-weight: 700;
}

window.Bar {
  font-family: "sans";
  font-weight: 700;
  font-size: 12.5px;

  border-bottom: 3px solid var(--bar-border);

  color: var(--text);
  background: var(--bar-bg);

  > centerbox {
    padding: 3px 4px;
    > .Right {
      margin-right: 12px;
    }
  }
}

.section {
  padding: 1px 6px;
  border: 2.4px solid var(--border-color);
  border-radius: 9999px;
  background: var(--section-bg);
  .Left & {
    margin-right: calc(2 * var(--section-spacing));
  }
  .Right & {
    margin-left: calc(2 * var(--section-spacing));
  }
  .Center & {
    margin: 0px var(--section-spacing);
  }
}

.section.WorkspaceGroup {
  padding: 1px 7px;
}

.Workspace {
  font-family: "monospace";
  font-weight: 800;
  font-size: 12.5px;

  &.active {
    color: oklch(0.92 0.14 118);
    &.focused {
      color: oklch(0.92 0.2 138);
    }
  }

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.section.ActiveTitle {
  min-width: 130px;
}

.section.Tray {
  padding: 1px 3px;
}

.TrayItem {
  padding: 0px;
  border: 0px;
  border-radius: 9999px;
  min-height: 18px;

  icon {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    border-radius: 9999px;
  }
}

.section.Volume {
  padding: 2px 6px;

  icon {
    font-size: 14px;
    margin-right: 4px;
    margin-left: -1px;
    margin-bottom: 1px;
  }

  .VolumeProgress {
    padding-top: 1px;
    padding-bottom: 2px;
    font-size: 4px;
    color: var(--green);
  }
}

.section.Media {
  padding: 0px 3px;
  label.PlayerIcon {
    margin-right: 7px;
  }
  label.title {
    margin: 0 3px;
  }
  label.PlaybackStatus {
    &.playing {
      color: var(--green);
    }
    &.paused,
    &.stopped {
      color: oklch(from var(--text) calc(l * 0.85) c h);
    }
  }
}
