.bar {
  @apply --sans;
  background: transparent;
  color: var(--fg-text);
  font-size: 12.5px;
  font-weight: 600;
  .bar-left {
    > * {
      margin-right: 6px;
    }
  }
  .bar-center {
    & > * {
      margin: 0 6px;
    }
  }
  .bar-right {
    > * {
      margin-left: 6px;
    }
    > *:first-child {
      margin-left: 0px;
    }
  }
}

.outer {
  padding: 4px;
  background: var(--color-bar-background);

  min-height: 23px;

  .task.active .bar {
    border-color: oklch(from var(--fg-green) l c h);
  }

  .bar.bar-bottom & {
    border-bottom: 0;
    border-top: var(--bar-border);
    min-height: 24px;
  }

  .bar.bar-top & {
    border-top: 0;
    border-bottom: var(--bar-border);
  }
}
