:root {
  --success: 40 255 40;
  --error: 255 90 90;

  --dark: 50 50 50;
  --error-dark: 84 29 29;

  --h-blue: 264;
  --h-primary: 252; /* 254 */
  --h-special: 282;
  --h-active: 140;
  --h-warning: 70;

  /* black = "#5b6078" */
  /* red = "#ed8796" */
  /* green = "#a6da95" */
  /* yellow = "#eed49f" */
  /* blue = "#8aadf4" */
  /* magenta = "#f5bde6" */
  /* cyan = "#8bd5ca" */
  /* white = "#a5adcb" */

  /* catppuccin colors */
  --color-text: oklch(0.8168 0.04 272.86);
  --fg-text: oklch(from var(--color-text) 0.822 c h);
  --fg-text-mono: oklch(from var(--fg-text) 0.88 c h);
  --fg-text-bright: oklch(from var(--color-text) 0.91 c h);
  --fg-text-white: oklch(from var(--color-text) 0.99 0.001 h);
  --fg-black: rgba(0, 0, 0, 1);

  --color-mocha-background: oklch(0.2429 0.03 283.91);
  --color-blue: oklch(0.7497 0.11 263.81);
  --color-inactive: oklch(0.606 0.051 274.27);
  --color-orange: oklch(82.37% 0.101 52.63);
  --color-yellow: oklch(87.9% 0.074 84.75);
  --color-green: oklch(83.5% 0.108 138.15);
  --color-mauve: oklch(78.71% 0.119 304.77);
  --color-lavender-rgb: #b7bdf8;
  --color-lavender: oklch(from var(--color-lavender-rgb) l c h);

  --fg-warning: oklch(from var(--color-orange) l c h / 0.97);
  --bg-warning: oklch(from var(--color-orange) calc(l * 0.4) calc(c * 0.5) h / 0.5);
  --fg-inactive: oklch(from var(--color-inactive) l c h / 0.95);
  --bg-inactive: oklch(from var(--color-inactive) l c h / 0.11);
  --fg-yellow: oklch(from var(--color-yellow) l c h / 0.9);
  --bg-yellow: oklch(from var(--color-yellow) calc(l * 0.4) calc(c * 0.5) h / 0.5);
  --fg-green: oklch(from var(--color-green) l c h / 0.95);
  --bg-green: oklch(from var(--color-green) calc(l * 0.45) calc(c * 0.75) h / 0.5);
  /*****************************************/

  --color-primary: var(--color-blue);

  --color-active-01: oklch(72.5% 0.225 var(--h-active));
  --color-active: var(--color-active-01);

  --color-special-01: oklch(67% 0.162 var(--h-special));
  --color-special: var(--color-special-01);

  --color-bar-background: oklch(from var(--color-mocha-background) l c h / 0.75);

  --color-bar-border: oklch(from var(--color-lavender) calc(l * 0.8) calc(c * 0.8) h / 0.8);

  --bar-border: 3.5px solid var(--color-bar-border);

  --border-opacity: 0.99;
  --internal-border-opacity: 0.8;
  --border-width: 1.5px;

  --status-entry-border-color: oklch(from var(--color-primary) l c h / var(--border-opacity));
  --status-entry-border: var(--border-width) solid var(--status-entry-border-color);
  --status-entry-internal-border-color: oklch(
    from var(--status-entry-border-color) l c h / var(--internal-border-opacity)
  );
  --status-entry-internal-border: var(--border-width) solid
    var(--status-entry-internal-border-color);
  --status-entry-background: rgb(var(--dark) / 0.8);
  --status-entry-padding: 1px 4px;

  --status-entry {
    border-radius: 9999px;
    border: var(--status-entry-border);
    background: var(--status-entry-background);
    padding: 0 0px;
    > * {
      padding: var(--status-entry-padding);
      border-radius: 0;
      border-width: 0;
    }
    > *:not(:last-child) {
      border-right: var(--status-entry-internal-border);
    }
    > *:first-child {
      border-top-left-radius: 9999px;
      border-bottom-left-radius: 9999px;
    }
    > *:last-child {
      border-top-right-radius: 9999px;
      border-bottom-right-radius: 9999px;
    }
  }

  --sans {
    font-family: "Symbols Nerd Font Mono", "Inter", sans;
  }
  --mono {
    font-family: "Symbols Nerd Font Mono", "JetBrains Mono", monospace;
    font-weight: 700;
    color: var(--fg-text-mono);
    font-size: 12px;
  }
}

.icon {
  font-size: 14px;
  -gtk-icon-palette:
    success rgb(var(--success) / 0.8),
    warning oklch(from var(--fg-warning) l c h / 0.8),
    error rgb(var(--error) / 0.8);
}

.icon-material {
  font-family: "Material Symbols Sharp", "Material Symbols Rounded", "Material Symbols Outlined";
  font-family: "Material Symbols Outlined", "Material Symbols Sharp", "Material Symbols Rounded";
  font-size: 18px;
  margin: -1px;
  font-weight: 700;
}

button {
  min-height: 0;
  min-width: 0;
  border-radius: 0;
  background: rgb(var(--dark) / 0.6);
  font-weight: 700;
  color: var(--fg-text-white);

  &:hover {
    background: rgb(var(--dark) / 0.3);
  }
  &:active {
    background: rgb(var(--dark) / 0.15);
  }
}

.circular-progress {
  font-size: 4.5px;
  min-width: 14px;
  min-height: 14px;
}
