.media-event-box {
  .media {
    margin-left: 6px;
    @apply --status-entry;
    border-color: var(--fg-inactive);
    background: var(--bg-inactive);
    font-size: 12px;
    > *:not(:last-child) {
      border-right-color: var(--fg-inactive);
    }
    .icon.player {
      font-size: 13px;
      padding-left: 3px;
    }
    .icon.status {
      font-size: 15px;
      padding-right: 3px;
    }
  }
  &:hover {
    background: white(0.05);
  }
}
