box.notification {
  color: var(--fg-black);
  background: var(--color-mauve);
  border-radius: 9999px;
  padding: 0 9px;

  & > .icon {
    color: var(--fg-black);
    margin-bottom: -1px;
    padding-right: 4px;
  }

  & > button {
    color: var(--fg-black);
    font-weight: 600;
    background: transparent;
    padding: 0;
  }
}
