.datetime {
  @apply --status-entry;
  padding-left: 1px;
  padding-right: 1px;
}

.battery {
  @apply --status-entry;
}

.volume {
  @apply --status-entry;

  .status {
    > box {
      margin-top: -1px;
      .circular-progress {
        color: var(--color-blue);
      }
    }
  }
}

.cpu-group {
  @apply --status-entry;
  border-color: var(--fg-yellow);
  background: var(--bg-yellow);
  .icon {
    font-size: 15px;
  }

  .cpu-speed {
    label.mhz {
      @apply --mono;
      font-weight: 700;
      margin-right: -1px;
      padding-left: 2px;
    }
  }
  .cputemp {
    label {
      @apply --mono;
      font-weight: 700;
      margin-right: -1px;
      padding-left: 1px;
    }
    &.critical .icon {
      color: rgb(var(--error) / 0.8);
    }
    &.high .icon {
      color: oklch(from var(--fg-warning) l c calc(h - 6) / 0.95);
    }
    &.medium .icon {
      color: oklch(from var(--fg-warning) l c h / 0.9);
    }
    &.low .icon {
      color: oklch(from var(--fg-warning) l c calc(h + 22) / 0.88);
    }
  }
}
